.bar{
  color: black;
  fill: steelblue;
  transition: 400ms;
  transition-timing-function: cubic-bezier();
  transition-delay: 400ms;
  &:hover{
    fill: saturate(steelblue, 20%);
    cursor: pointer;
  }
}

.bravo {
  fill:seagreen;
  transition: 400ms;
  transition-timing-function: cubic-bezier();
  transition-delay: 400ms;
  &:hover{
    fill: saturate(seagreen, 20%);
    cursor: pointer;
  }
}

.danger{
  fill: orangered;
  transition: 400ms;
  transition-timing-function: cubic-bezier();
  transition-delay: 400ms;
  &:hover{
    fill: saturate(orangered, 20%);
    cursor: pointer;
  }
}

.line {
  stroke: rgb(173, 216, 230);
  stroke-width: 2px;
}