@import '../../sass/variables.scss';

.button {
  height: 70px;
  width: 80%;
  // opacity: 0.5;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: $white05;
  border-style: none;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 10px;
  transition: 200ms;
  &:focus{
    outline-style: none;
  }
  &:hover {
    cursor: pointer;
    background-color: darken($white05, 20%)
  }
  &.active{
    background-color: orange;
  }
  &.actionButton{
    background-color: $action-button;
    height: 30px;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    &:hover{
      background-color: adjust-hue($action-button, 20deg)
    }
  }
}